.monaco-editor, .monaco-editor .overflow-guard {
    /* NOTE: Change this according to "rounded-md" in Tailwind's style system. */
    border-radius: 0.375rem;
    overflow: hidden;
}

.monaco-editor {
    /* See: https://stackoverflow.com/a/71876526 */
    position: absolute !important;
}